cover.out
cover.html
local
.DS_Store
.vscode
.vagrant
dist
cosign.*
gpg.*
*.msi
*.exe
*.zip
build/windows/**/wix.dynamic.json
build/windows/**/wix
stanza-plugins
build/windows/config.yaml
build/windows/opentelemetry-java-contrib-jmx-metrics.jar
plugins
