build
cover.out
cover.html
local
.DS_Store
.vscode
.vagrant
dist
cosign.*
gpg.*
*.msi
*.exe
windows/*.zip
windows/**/wix.dynamic.json
windows/**/wix
windows/config.yaml
windows/logging.yaml
windows/LICENSE
windows/plugins
opentelemetry-java-contrib-jmx-metrics.jar
VERSION.txt
release_deps
/tmp
tmp

# OpAmp Files
collector*.yaml
manager*.yaml
logging*.yaml
