[Unit]
Description=observIQ's distribution of the OpenTelemetry collector
After=network.target
StartLimitIntervalSec=120
StartLimitBurst=5
[Service]
Type=simple
User=root
Group=bindplane-agent
Environment=PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Environment=OIQ_OTEL_COLLECTOR_HOME=/opt/bindplane-agent
Environment=OIQ_OTEL_COLLECTOR_STORAGE=/opt/bindplane-agent/storage
WorkingDirectory=/opt/bindplane-agent
ExecStart=/opt/bindplane-agent/opampsupervisor --config supervisor.yaml
SuccessExitStatus=0
TimeoutSec=20
StandardOutput=journal
Restart=on-failure
RestartSec=5s
KillMode=process
[Install]
WantedBy=multi-user.target
