<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.observiq.collector</string>
    <key>EnvironmentVariables</key>
    <dict>
    <key>OIQ_OTEL_COLLECTOR_HOME</key>
    <string>[INSTALLDIR]</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
    <string>[INSTALLDIR]observiq-otel-collector</string>
    <string>--config</string>
    <string>[INSTALLDIR]config.yaml</string>
    <string>--logging</string>
    <string>[INSTALLDIR]logging.yaml</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
