name: Tests
on:
  pull_request:

jobs:
  unit-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, macos-11, windows-2019]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.18"
          check-latest: true

      # Load caches based on OS
      - name: Linux Cache Go Modules
        if: matrix.os == 'ubuntu-20.04'
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: MacOS Cache Go Modules
        if: matrix.os == 'macos-11'
        uses: actions/cache@v3
        with:
          path: |
            ~/Library/Caches/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Windows Cache Go Modules
        if: matrix.os == 'windows-2019'
        uses: actions/cache@v3
        with:
          path: |
            ~\AppData\Local\go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Run Tests
        run: make test
      - name: Run Updater Integration Tests (non-linux)
        if: matrix.os != 'ubuntu-20.04'
        run: make test-updater-integration
      - name: Run Updater Integration Tests (linux)
        if: matrix.os == 'ubuntu-20.04'
        run: sudo make test-updater-integration
